.Header_container
{
    display: flex;
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    align-content: center;
    align-items: center;
}
.Header_container ul
{
    display: flex;
}
.Header_container li
{
    padding: 1rem;
    list-style-type: none;

}
.Header_container a
{
    transition: 250ms;
    padding: 0.4rem;
    color: black;

}
.Header_container a:hover,.active
{
    background-color: rgb(192, 183, 183);
    color: rgb(37, 37, 35);
    border-radius: .2rem;
    
}