.App {
  text-align: center;
  background-color: rgba(220, 212, 212, 0.558);
  padding: 4rem;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.music_play {
  display: flex;
  position: relative;
  z-index: 9;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(195, 184, 184);
  padding: 1rem;
  border-radius: 1rem;
  background: radial-gradient(732px at 96.2% 89.9%, rgb(70, 66, 159) 0%, rgb(187, 43, 107) 92%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}